.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: black;

  button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13.5px;
    background-color: #efe7dc;
  }
}

#Body{
  background-color: #efe7dc;
  h1{
    margin: 0px;
    padding: 15px;
    font-size: calc(10px + 5vmin);
    border-bottom: 1px solid black;
  }
  h6{
    margin: 0px;
    padding: 15px;
    font-size: calc(5px + 3vmin);
  }
}

#BodyOrganization{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#Functionality{
  max-width: 17%;
  margin-left: 40px;
  padding-right: 10px;
  margin-bottom: 135px;
  border-right: 2px solid black;
  h1{
    font-size: calc(10px + 2vmin);
  }
}

.ButtonsAndHeader{
  background-color: #efe7dc;
}

#Library {
  min-height: 15vh;
  min-width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.topRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.bottomRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#Want_To_Read {
  background-color: #8897b5;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: black;
}
