.App {
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;

  button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13.5px;
    background-color: black;
    color: white;
    border: 1.5px solid white;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: white;
    color: black;
  }
}

#Body{
  background-color: black;
  h1{
    margin: 0px;
    padding: 15px;
    font-size: calc(10px + 5vmin);
    border-bottom: 1px solid white;
  }
  h6{
    margin: 0px;
    padding: 15px;
    font-size: calc(5px + 3vmin);
  }
}

#BodyOrganization{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#Functionality{
  max-width: 17%;
  margin-left: 40px;
  padding-right: 10px;
  margin-bottom: 135px;
  border-right: 2px solid white;
  h1{
    font-size: calc(10px + 2vmin);
  }
  h5{
    font-size: 14px;
  }
  button{
    font-size: 14.5px;
    padding: 5px;
    margin: 3px;
  }
}

.ButtonsAndHeader{
  background-color: black;
}

#Library {
  min-height: 15vh;
  min-width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.topRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.bottomRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#Want_To_Read {
  background-color: black;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);

  h1{
    margin: 0px;
    padding: 15px;
    font-size: calc(10px + 4vmin);
    border-bottom: 1px solid white;
  }

  h2{
    font-size: calc(7px + 3vmin);
  }

  h3{
    font-size: calc(5px + 2vmin);
  }
}

.smallerFont{
  font-size: calc(5px + 3vmin);
}
